
.clearleft
{
    clear:left;
}

.margin-top15
{
    margin-top:15px;
}

.margin-top25
{
    margin-top:25px;
}


.margin-top75
{	
    margin-top:75px;
}


.margin-top125
{
    margin-top:125px;
}

.margin-bottom75
{
    margin-bottom:75px;
}

.margin-top175
{
    margin-top:175px;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#menubuttoncontainer
{
    width: 940px;
    margin: 0px auto;
    padding-top:15px;
}
#Info
{
    Width:650px;
    Height:290px;
    overflow:hidden;
}

#facebookdata{
    color:#000 !important;
}

#fbomschrijving{
    color:#000 !important;
}

#colorblack{
    color:#000 !important;
}
.hidebig
{
    display:none !important;
}

.logocss
{
    color: #666; text-shadow: 0px 1px 2px #555;
    text-align:center;
}

.center
{
    text-align:center;
}

.logosmall{
    width:160px !important;
    margin-bottom: 15px;
}

#map-canvas { 
    float:center; 
    height:500px; 
    width:100%; 
    clear:left;
}

#menubuttons{
    margin: 0px auto;
    width: 655px;
    clear: left;
    padding: 15px 0 15px 0;
}

.ui-autocomplete {
    background-color: white !important;
    width: 300px !important;
    border: 1px solid #cfcfcf !important;
    list-style-type: none !important;
    padding-left: 0px !important;
    height: 200px !important;
    overflow-y: scroll !important; 
    overflow-x: hidden !important;
}
.ui-helper-hidden-accessible { 
    display:none; 
}

.toevoegen
{
    margin-top:25px;
}



@media only screen and (max-width: 959px){

    .hidebig{
        display:none !important
    }

    #map-canvas {
        height:600px; 
        width:940px;
    }
    #Info
    {
        Width:650px;
        Height:250px;
        overflow:hidden;

    }

    .logosmall{
        width:160px !important
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px){

    #menubuttoncontainer{
        width: 768px; 
        margin: 0px auto;
    }	

    .hidebig{
        display:none !important
    }		

    #map-canvas {
        height:420px; 
        width:748px;
    }
    #Info
    {
        Width:500px;
        Height:250px;
        overflow:hidden;

    }
    .logosmall{
        width:160px !important
    }	
}

@media only screen and (max-width: 767px) {

    .buttoninlog{
        margin-top:75px
    }

    .hide{
        display:none !important
    }

    .hidebig{
        display:inline !important
    }

    #map-canvas {
        height:400px; 
        width:700px;
    }
    #Info
    {
        Width:500px;
        Height:300px;
        overflow:hidden;

    }

    .logosmall{
        width:160px !important
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){

    .buttoninlog{
        margin-top:50px
    }

    .hide{
        display:none !important
    }

    .hidebig{
        display:inline !important
    }

    #map-canvas {
        margin-top:10px; 
        height:400px; 
        width:420px;
    }
    #Info
    {
        Width:220px;
        Height:300px;
        overflow:hidden;

    }

    .logosmall{
        width:160px !important
    }

    #menubuttons{
        width: 350px;
    }

    .menufirst{
        margin-right: 15px;
    }

    .toevoegen
    {
        margin-top:10px;
    }
}

@media only screen and (max-width: 479px){
    .buttoninlog{
        margin-top:50px
    }

    .hide{
        display:none !important;
    }

    .hidebig{
        display:inline !important;
    }

    #map-canvas{
        margin-top:10px;
        height:300px;
        width:300px;
    }
    #Info
    {
        Width:200px;
        Height:400px;
        overflow:hidden;

    }
    .logosmall{
        width:120px !important;
    }

    #menubuttons{
        width: 260px;
    }

    .menufirst{
        margin-right: 15px;
    }

    .toevoegen
    {
        margin-top:10px;
    }
}

